<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="A website to encourage Sparkboxers who are doing cool things.">

  <link rel="stylesheet" href="/css/app.css">

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  {{> site-header}}
  {{{ body }}}
  <script src="/js/main.js"></script>
</body>
</html>
