.c-slice {
  $bp-image-beside-body: 30em;
  $image-size: 6rem;

  min-height: 100vh;
  padding: 3rem 6%;

  // Contain padding within height
  box-sizing: border-box;

  // flexbox is only used for vertical centering here
  display: flex;
  align-items: center;

  &:nth-child(1) {
    background-color: c(salmon);
  }
  &:nth-child(2) {
    background-color: c(powerade);
  }
  &:nth-child(3) {
    background-color: c(barney);
  }
  &:nth-child(4) {
    background-color: c(sunshine);
  }

  &__inner-wrapper {
    @media (min-width: $bp-image-beside-body) {
      // Contain absolute image
      position: relative
    }
  }

  &__image-and-name-wrapper {
    // This accounts for the space the image takes up. We need to do this
    // manually since it's absolute.
    min-height: calc(#{$image-size} + 1.25rem);

    // This carves out space for the absolute image
    padding-left: calc(#{$image-size} + 2rem);

    padding-bottom: 1.25rem;

    // flexbox is only used for vertical centering here
    display: flex;
    align-items: center;

    // Contain absolute image
    position: relative;
  }

  &__image-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: $image-size / 2 * -1;

    width: $image-size;
    height: $image-size;

    border-radius: 99rem;

    overflow: hidden;

    // Border is drawn via box-shadow so it doesn't affect flow or cover up
    // any of the image
    box-shadow: 0 0 0 8px white;
  }

  &__image-element {
    width: 100%;
    display: block;
  }

  &__name {
    font-family: 'CubanoRegular';
    letter-spacing: 0.05em;

    -webkit-font-smoothing: antialiased;
    color: white;

    padding: 1.25rem 0;

    font-size: 2.5rem;

    @media (min-width: 25em) {
      font-size: 2.5 * 100vw / 25;
    }

    @media (min-width: 32em) {
      // font-size: 5.25rem;
    }
  }

  &__body {
    font-family: 'robotowebfont';
    font-size: 1.25rem;

    padding-bottom: 1.25rem;

    // Blending black with the background helps body copy look a little
    // smoother
    color: rgba(black, 0.8);
  }
}
