.c-site-header {
  $bp-grow-header: 66em;

  background-color: white;

  padding: 2rem 2rem;

  text-align: center;

  position: relative;
  box-shadow: 0 0 80px rgba(black, 0.2),
              2px 0 4px rgba(black, 0.4);

  overflow: visible;

  border-top: 1px solid #f0f0f0;

  @media (min-width: $bp-grow-header) {
    padding: 3rem 2rem;
  }

  &__img {
    width: 7rem;

    animation: jelly-bounce 1630ms linear both;

    @media (min-width: $bp-grow-header) {
      width: 13rem;
    }
  }
}
