a {
  font-weight: bold;
  transition: all 0.35s cubic-bezier(0.190, 1.000, 0.220, 1.000);

  text-decoration: none;

  background-color: rgba(white, 0.2);
  padding: 0 0.3rem;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    color: black;
    background-color: white;
  }
}
