$color-palette: (
  sunshine: #ebc36b,
  barney: #db7cc4,
  mom-sweater: #fa9fab,
  salmon: #eb726b,
  powerade: #6bc6eb,
);


$timing-function-ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
