<style>
  body {
    font-family: helvetica;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    color: #900;
    background: white;
    font-size: 2em;
  }
</style>

<p>{{ message }}</p>
